/* CONTAINER'S */

.container{
    padding: 40px;
    margin-left: 120px;
    width: 850px;
    border-radius: 5px;
}

.container_desenvolvedores{
    padding: 100px;
    width: 1306px;
    background-color: #3f3f3f;
}

/* ----------------------------------------------------- */


/* BOX'S */

.box{
    padding: 40px;
    margin-left: 70px;
    width: 1000px;
    border-radius: 10px;
}

.box_footer{
    padding: 20px;
    margin-left: 400px;
    width: 800px;
    border-radius: 10px;
    color: #0f0f0f;
}


/* ------------------------------------------------------ */



/* TEXTOS - P, ECT... */